body{
    padding: 100px;
}

input{
    margin-top: 10px;
}

.logo{
    width: 200px;
    height: 200px;
}

.submit-area{
    box-shadow: 3px 3px 10px lightgray;
    padding: 20px 10px;
    border-radius: 5px;

}

#transaction{
    display: none;
}

.deposite{
    background-color: steelblue;
    border-radius: 5px;
    padding: 20px;
}

.withdraw{
    background-color: tomato;
    border-radius: 5px;
    padding: 20px;
}
.balance{
    background-color: orange;
    border-radius: 5px;
    padding: 20px;
}

.input-container{
    box-shadow: 3px 3px 10px lightgray;
    padding: 20px 10px;
    border-radius: 5px;

}